{% extends 'layout.html'%}

{%block title%}Delete Archery Entry {%endblock%}

{% block content%}
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="border rounded col-md-8">
        <h2>Are you sure you want to delete <strong>{{archery.creation_date}}</strong> entry ?</h2>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{form }}
                <br>
                <div class="btn-group" role="group">
                    <button class="mr-1 btn btn-success rounded">
                        Delete
                    </button>
                    <a class="mr-1 btn btn-danger rounded" href='/'>Discard</a>
                </div>


            </form>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>
{% endblock %}