{% extends 'layout.html'%}

{%block title%} Add Archery Entry {%endblock%}

{% load static %}

{% block content%}
<div class="row">

    <div class="border rounded col-md-12">
        <div class="d-flex flex-row justify-content-center">
            <h2>Add Archery Entry</h2>
        </div>

        <div class="d-flex flex-row justify-content-centerp-2">
            <img src="{% static 'archery/bullseye_h.png' %}" class="img-fluid">
        </div>

        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                
                <div class="d-flex flex-row justify-content-center p-2 ">

                    <div class="d-flex flex-column justify-content-center p-2 ">Archer name: {{form.name}}</div>
                    <div class="d-flex flex-column justify-content-center p-2">Arrows: {{form.arrows}}</div>

                </div>

                    <div class="d-flex flex-row  border bg-warning justify-content-center p-2">

                        <div class="d-flex flex-column justify-content-center p-2">P25 {{form.p_25}}</div>
                        <div class="d-flex flex-column justify-content-center p-2">P20 {{form.p_20}}</div>
                        <div class="d-flex flex-column justify-content-center p-2">P17 {{form.p_17}}</div>

                    </div>

                    <div class="d-flex flex-row  border bg-danger justify-content-center p-2">

                        <div class="d-flex flex-column justify-content-center p-2">P15{{form.p_15}}</div>
                        <div class="d-flex flex-column justify-content-center p-2">P10{{form.p_10}}</div>

                    </div>


                    <div class="d-flex flex-row bg-primary border justify-content-center p-2">

                        <div class="d-flex flex-column justify-content-center p-2">P7{{form.p_7}}</div>
                        <div class="d-flex flex-column justify-content-center p-2">P5{{form.p_5}}</div>

                    </div>

                    <div class="d-flex flex-row  border bg-dark text-light justify-content-center p-2">
                        <div class="d-flex flex-column justify-content-center p-2">P4{{form.p_4}}</div>
                        <div class="d-flex flex-column justify-content-center p-2">P3{{form.p_3}}</div>
                    </div>

                    <div class="d-flex flex-row  border bg-light justify-content-center p-2">

                        <div class="d-flex flex-column justify-content-center p-2">P2{{form.p_2}}</div>
                        <div class="d-flex flex-column justify-content-center p-2">P1{{form.p_1}}</div>
                        <div class="d-flex flex-column justify-content-center p-2">P0{{form.p_0}}</div>

                    </div>

                <br>
                <div class="btn-group" role="group">
                    <button class="mr-1 btn btn-success rounded">
                        Post
                    </button>
                    <a class="mr-1 btn btn-danger rounded" href='/'>Discard</a>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}