{% extends 'layout.html'%}

{%block title%}Home{%endblock%}

{% block content%}

<h2>Home Page</h2>

{% for item in object_list %}
<div class="row flex flex-row">
    <div class="col-md-8 flex flex-column border rounded">
        <p class="mb-auto"><b> Timestamp </b> {{item.creation_date}}</p>
        <p class="mb-auto"><b> Archer's Name: </b> {{item.name}}</p>
        <p class="mb-auto"><b> Arrows: </b> {{item.arrows}}</p>
        <p class="mb-auto"><b> Points: </b> {{item.points}}</p>
        <p class="mb-auto"><b> Accuracy: </b> {{item.acc}}%</p>
    </div>
    <div class="col-md-4 bg-dark d-flex align-items-center justify-content-center p-2 rounded">
          <a class="mr-1 p-2 btn btn-info rounded" href="{% url 'EditA' item.pk %}">Edit</a>
          <a class="mr-1 p-2 btn btn-danger rounded" href="{% url 'DeleteA' item.pk %}">Detele</a>
    </div>
</div>
<br>
{% endfor %}

{% endblock %}