{% extends 'layout.html'%}

{%block title%}Info about the software{%endblock%}

{% load static %}

{% block content%}

<div class="d-flex flex-row justify-content-center p-2" >
    <h2>Info Page</h2>
</div>

<div class="d-flex flex-row p-2">

<div class="d-flex flex-column p-2">
    <img src="{% static 'archery/bullseye_small.png' %}" height="400" width="400">
</div>

<div class="d-flex flex-column p-2">
    <p>The image from left shows how points are distribuited on bullseye and how should be added in application entries.</p>
</div>

</div>


{% endblock %}