<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title%}IulianCenusa's Blog{%endblock%}</title>

	<meta name="description" content="IulianCenusa's Blog">
	<meta name="author" content="IulianCenusa">


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-10">
						<ul class="nav nav-pills navbar-light bg-dark sticky-top">
							<li class="nav-item">
								<a class="nav-link " href="/">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/add/">Add Entry</a>
							</li>
							{% if user.is_staff%}
							<li class="nav-item">
								<a class="nav-link" href="/admin/">Admin</a>
							</li>
							{% endif %}
						</ul>
					</div>
					<div class="col-md-1">
					</div>
				</div>

				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-10">

						<div class="row">
							<div class="col-md-2">
							</div>
							<div class="col-md-8">
								<br>
								{% if messages %}
								<div class="">
									{% for message in messages %}
									{% if message.tags == "error" %}
										<p class="bg-danger d-flex flex-row justify-content-center border rounded p-2">{{ message }}
										</p>
									{% endif %}
									{% if message.tags == "info" %}
										<p class="bg-success d-flex flex-row justify-content-center border rounded p-2">{{ message }}
										</p>
									{% endif %}
									{% endfor %}
								</div>
								{% endif %}

								<br>
								{% block content%}{% endblock %}
								<br>
							</div>
							<div class="col-md-2">
							</div>
						</div>

					</div>
					<div class="col-md-1">
					</div>
				</div>

				<div class="row ">
					<div class="col-md-1">
					</div>
					<div class=" fixed-row-bottom col-md-10">
						<br>
						<footer>
							<p class="text-center text-info">
								@IulianCenusa September 2020
							</p>
						</footer>
						<br>
					</div>
					<div class="col-md-1">
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>